<div class="d-block  d-md-none">
  	<button class="btn btn-primary" 
	  	type="button" 
	  	data-toggle="collapse" 
	  	data-target="#collapsible-sidebar" 
	  	aria-expanded="false" 
	  	aria-controls="collapsible-sidebar">
	  	Pages
	  </button>
	  <button class="btn btn-primary" 
	  type="button" 
	  data-toggle="collapse" 
	  data-target="#collapsible-article-nav" 
	  aria-expanded="false" 
	  aria-controls="collapsible-article-nav">
		Table of Contents
	</button>

	<div class="collapse " id="collapsible-sidebar">
		{{- partial "sidebar.html" . -}}
	</div>
	<div class="collapse" id="collapsible-article-nav">
		{{ .TableOfContents }}
	</div>

</div>