<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div class="container-fluid dont-break-out">
      {{- partial "header.html" . -}}

      <div class ="row">
        <div class="col-12 col-sm-2 ">
            {{ partial "mobile-navigation.html" . }}
            {{ partial "sidebar.html" . }}
        </div>

        <div class="col-12 col-sm-8 " id="content">
          
          {{ .Content }}
          {{- block "main" . }}{{- end }}
          
        </div>
        <div class="d-none d-sm-block col-12 col-sm-2">
          <div class="sticky-articlebar"> {{ .TableOfContents }} </div>
        </div>
      </div>
      
      {{- partial "footer.html" . -}}

    </div>
  </body>
</html>
